///Colors
///
$color-white: rgb(255, 255, 255);
$color-light-gray: rgb(173, 173, 173);
$color-black: rgb(68, 67, 67);
$color-strong-cyan: hsl(171, 66%, 44%);
$color-light-blue: hsl(233, 100%, 69%);


///TRANSITIONS
/// 
$t-fast: 0.1s all ease-out;